.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none!important;
}

.card-body {
    padding: 0px !important;
}

.card-header2 {
    padding-bottom: 22px !important;
}